* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

button {
    border: 0;
    background-color: transparent;
}

.links {
    text-decoration: none;

}

.background {
    border: solid 1px #fff;
    background-image: linear-gradient(166deg, #fcfcfc 3%, #f5f4f9 97%);
    max-height: 100vh;
}

.WEB-THE-ZONE {
    width: 100%;
    padding: 0 0 129.8px;
    background-color: #f3f2f7;
}

.flex-start {
    display: flex;
    align-items: flex-start;
}

.padding {
    padding: 3rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.padding>* {

    margin: 10px 0;
}

.user-avatar {
    position: relative;
}

.user-img {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    border-radius: 50%;
}

.cam-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 70%;
    bottom: 0;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

.user-details>* {
    margin: 0;
}

.user-name {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.28;
}

.user-info>* {
    margin-bottom: 10px;
}

.caption {
    font-size: 10px;
    font-weight: 500;
    line-height: 1.55;
    letter-spacing: normal;
    color: #acacac;
    margin: 0;
}

.my-post {
    color: #8894b4;
    align-items: center;
}

.my-post img {
    width: 15px;
    height: 15px;
}

.my-post p {
    margin: 0 0 0 10px;
    font-size: 13px;
}

.profile-btn {
    color: #5c53ef;
    padding: 7.5px 20.5px 7px 20.5px;
    border-radius: 5px;
    background-color: #ededfb;
    font-size: 13px;
    border-radius: 3px;
}

.info-card {
    text-align: center;
}

.info-card>img {
    width: 12px;
    height: 18px;
}

.info-card-info {
    display: flex;
    flex-direction: column;
}

.info-card-info>h4 {
    margin: 0 0 0 15px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.24;
}

.info-card-info>p {
    margin: 0 0 0 15px;
}

.info-card-info>* {
    margin: 0;
}

.paddies {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #c9c9c9;
}

.paddies p {
    font-size: 10px;
    font-weight: 500;
    line-height: 1.55;
    letter-spacing: normal;
    color: #000;
    margin: 0;
}

.paddies button {
    display: flex;
    flex-direction: row;
    border: 0;
    background: transparent;
    align-items: center;

}

.paddies button img {
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

.search-bar {
    width: 100%;
    background: #eceaf3;
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 10px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px;
    font-size: 13px;
}

.search-bar button {
    border: 0;
    padding-right: 10px;

}

.search-bar button img {
    width: 15px;
}

.chat {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.chat-pad {
    padding: 30px;
    margin: 10px 0;
    background: #fdfdfd;
    border-radius: 10px;
}

.chat img {
    width: 150px;
    height: 120px;
}

.chat-img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.product-img img {
    width: 100%;
    height: 75px;
}

.chat h5 {
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}

.bitmaps {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bitmaps img {
    width: 48%;
    height: 27px;
}

.padding header {
    width: 100%;
}

.jay {
    display: flex;
    flex-direction: row;
}

.profile {
    display: flex;
    flex-direction: row;
}


.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.buttons button {
    display: flex;
    flex-direction: row;
}

.content {
    width: 100%;
}

.content-tabs {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    margin: 20px 0;
}

.content-pad {
    padding: 30px;
    width: 100%;
}

.user-post {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.questionaire {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.time {
    display: flex;
    align-items: center;
}