<aside>
    <div class="padding chat-Doc">
        <form action="" class="search-bar caption">
            <input type="text" placeholder="Search here...">
            <button type="submit"><img src="../../../assets/assets/icons/icons8-search.svg" alt=""></button>
        </form>
        <div class="chat">
            <div class="chat-pad">
                <h5>Chat with a Doctor/Counsellor</h5>
                <p class="caption">Download the mobile app to get started</p>
                <div class="chat-img">
                    <img src="../../../assets/assets/images/chatCounsellor@2x.jpg" alt="">
                </div>
                <div class="bitmaps">
                    <img src="../../../assets/assets/images/Bitmap.png" alt="">
                    <img src="../../../assets/assets/images/playstore.png" alt="">
                </div>
            </div>

            <div class="chat-pad">
                <h5>Order your <br>Sexual Health <br>Products Today</h5>
                <button class=" button">Visit Shop</button>
                <div class="product-img">
                    <img src="../../../assets/assets/images/group-3469.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</aside>