<aside>
    <div class="padding user">
        <div class="user-avatar">
            <img class="user-img" src="../../../assets/assets/images/user-avatar.jpg" alt="user">
            <img class="cam-icon" src="../../../assets/assets/icons/cam-icon.svg">
        </div>

        <div class="user-details">
            <h5 class="user-name">Evelynisiah</h5>
            <p class="caption">creating something iconic</p>
        </div>

        <a class="my-post links flex-start" href="">
            <img src="../../../assets/assets/icons/stack.svg" alt="stack">
            <p>My Posts</p>
        </a>

        <a href="" class="profile-btn links flex-start">Edit Profile</a>

        <div class="user-info ">
            <div class="info-card flex-start">
                <img src="../../../assets/assets/icons/woman.svg" alt="">
                <div class="info-card-info flex-start">
                    <h4>Female</h4>
                    <p class="caption">gender</p>
                </div>
            </div>
            <div class="info-card flex-start">
                <img src="../../../assets/assets/icons/clock.svg" alt="">
                <div class="info-card-info flex-start">
                    <h4>october 2019</h4>
                    <p class="caption">joined</p>
                </div>
            </div>
            <div class="info-card flex-start">
                <img src="../../../assets/assets/icons/Component 143 – 22.svg" alt="">
                <div class="info-card-info flex-start">
                    <h4>Evelyn Isiah</h4>
                    <p class="caption">Facebook</p>
                </div>
            </div>
            <div class="info-card flex-start">
                <img src="../../../assets/assets/icons/twitter.svg" alt="">
                <div class="info-card-info flex-start">
                    <h4>@evelynisiah</h4>
                    <p class="caption">twitter</p>
                </div>
            </div>
        </div>

        <div class="paddies">
            <p>250 paddies</p>
            <button>
                <p>view all</p>
                <img src="../../../assets/assets/icons/greater  than.svg" alt="">
            </button>
        </div>
    </div>

</aside>
