* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

button {
    border: 0;
    background-color: transparent;
}

.m-0 {
    margin: 0;
}

.links {
    text-decoration: none;
}

.background {
    border: solid 1px #fff;
    background-image: linear-gradient(166deg, #fcfcfc 3%, #f5f4f9 97%);
    height: 110vh;
}

.WEB-THE-ZONE {
    width: 100%;
    padding: 0 0 129.8px;
    background-color: #f3f2f7;
}

.flex-start {
    display: flex;
    align-items: flex-start;
}

.padding {
    width: 100%;
    padding: 3rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.caption {
    font-size: 10px;
    font-weight: 500;
    line-height: 1.55;
    letter-spacing: normal;
    color: #acacac;
    margin: 0;
}


.padding header {
    width: 100%;
}


.user-post {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-img {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    border-radius: 50%;
}

.user-name {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.28;
}

.top {
    margin-bottom: 30px;
}

.user-details {
    display: flex;
    flex-direction: column;
        align-items: flex-start;
    margin: 0;
}

.user-details>* {
    margin: 0.3rem 0;
}
.user-post>* {
    margin: 5px;
}

.user-post img {
    width: 2rem;
    height: 2rem;
}


@media only screen and (max-width: 1198px) {
    .background {
        border: 0;
        background: 0;
}
}
@media only screen and (max-width: 992px) {
    .user-section {
        display: none;
    }

    .Doc-section {
        margin: 0 auto;
        border-radius: 0.7rem;
        height: 150%;
    }

}

@media only screen and (max-width: 768px) {
    .user-section {
        display: none;
    }

    .Doc-section {
        margin: 0 auto;
        border-radius: 0.7rem;
        height: 150%;
    }

    .WEB-THE-ZONE {
        padding: 0 0 100px;
    }
}

@media only screen and (max-width: 576px) {
    .user-section {
        display: none;
    }

    .Doc-section {
        border-radius: 0;
    }

    .WEB-THE-ZONE {
        padding: 0;
    }
}

@media only screen and (max-width: 375px) {
    .user-section {
        display: none;
    }

    main {
        max-width: 100%;
    }

    .padding {
        padding: 1.5rem 0.5rem;
    }

}