<main>
    <div class="padding">
        <header class="top ">
            <div class="row ">
                <div class="col-6 col-sm-7 col-md-8 flex-start">
                    <h5 class="m-0">The Zone</h5>
                </div>
                <div class="col-6 col-sm-5 col-md-4 jay">
                    <button>
                        <img class="notification" src="../../../assets/assets/icons/notification.svg" alt="">
                    </button>
                    <div class="profile">
                        <p>jayhimsef</p>
                        <div class="profile-icon">
                            <img class="oval" src="../../../assets/assets/icons/Oval.svg" alt="">
                            <img class="profile-svg" src="../../../assets/assets/icons/profile.svg" alt="">
                        </div>
                        <div class="down-arrow">
                            <button>
                                <img src="../../../assets/assets/icons/arrow-down-sign-to-navigate.svg" alt="">
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <div class="buttons">
            <button>
                <img src="../../../assets/assets/icons/Group 1407.svg" alt="">
                <p>Create a Post</p>
            </button>
            <button>
                <img src="../../../assets/assets/icons/Path 5857.svg" alt="">
                <p>Create a Poll</p>
            </button>
            <button>
                <img src="../../../assets/assets/icons/Group 3363.svg" alt="">
                <p>Subscribe</p>
            </button>
        </div>
        <div class="content">
            <div class="content-tabs flex-start">
                <div class="content-pad">
                    <div class="user-post">
                        <img class="user-img" src="../../../assets/assets/images/user-avatar.jpg" alt="user">
                        <h5 class="user-name">Evelynisiah</h5>
                        <div class="caption">3m</div>
                    </div>

                    <div class="questionaire">
                        <h5 class="question flex-start">Does big penis shift the womb?</h5>
                        <button class="options">yes</button>
                        <button class="options">no</button>
                        <button class="options">maybe</button>
                    </div>
                    <div class="post-info">
                        <span>50 votes</span>
                        <div class="time">
                            <img src="../../../assets/assets/icons/clock-2.webp" alt="">
                            <p class="caption">23 hours 48 minutes left</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-tabs flex-start">
                <div class="content-pad">
                    <div class="user-post">
                        <img class="user-img" src="../../../assets/assets/images/user-avatar.jpg" alt="user">
                        <h5 class="user-name">Evelynisiah</h5>
                        <div class="caption">3m</div>
                    </div>

                    <div class="comments">
                        <h5 class="comment-topic flex-start">Pregnancy Prevention</h5>
                        <p class="flex-start">Please does taking Lasix immediately after sex prevent
                            pregnancy??</p>
                    </div>

                    <div class="likes">
                        <button>
                            <img src="../../../assets/assets/icons/like.svg" alt="">
                            <p class="m-0">34 likes</p>
                        </button>

                        <p class="m-0">332 comments</p>
                        <p class="m-0">400 views</p>
                    </div>
                </div>
            </div>

            <div class="content-tabs flex-start">
                <div class="content-pad">
                    <div class="user-post">
                        <img class="user-img" src="../../../assets/assets/images/user-avatar.jpg" alt="user">
                        <h5 class="user-name">Evelynisiah</h5>
                        <div class="caption">3m</div>
                    </div>

                    <div class="questionaire">
                        <h5 class="question flex-start">Does big penis shift the womb?</h5>
                        <button class="options">yes</button>
                        <button class="options">no</button>
                        <button class="options">maybe</button>
                    </div>
                    <div class="post-info">
                        <span>50 votes</span>
                        <div class="time">
                            <img src="../../../assets/assets/icons/clock-2.webp" alt="">
                            <p class="caption">23 hours 48 minutes left</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-tabs flex-start">
                <div class="content-pad">
                    <div class="user-post">
                        <img class="user-img" src="../../../assets/assets/images/user-avatar.jpg" alt="user">
                        <h5 class="user-name">Evelynisiah</h5>
                        <div class="caption">3m</div>
                    </div>

                    <div class="comments">
                        <h5 class="comment-topic flex-start">Pregnancy Prevention</h5>
                        <p class="flex-start">Please does taking Lasix immediately after sex prevent
                            pregnancy??</p>
                    </div>

                    <div class="likes">
                        <button>
                            <img src="../../../assets/assets/icons/like.svg" alt="">
                            <p class="m-0">34 likes</p>
                        </button>

                        <p class="m-0">332 comments</p>
                        <p class="m-0">400 views</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>